.no-padding{
  padding-left: 0px;
  padding-right: 0px;
}
.feed-cover {
  text-align: center;
  background-color: #d3d3d3;
  padding: 2rem 0rem;
}
.event-banner{
  width: 100%;
}
.gallery-container{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}
.gallery-container > div > img {
  width: 100%;
  height: auto;
  padding: 1px;
}
.other-events{
  margin: 3px;
}
.other-events img{
  width: 100%;
  cursor: pointer;
  z-index: 5;
  background: #ffffff;
  border: none;
  -webkit-box-shadow: 0 1px 3px 0 #bcbdbd, 0 0 0 1px #d4d4d5;
  box-shadow: 0 1px 3px 0 #bcbdbd, 0 0 0 1px #d4d4d5;
}
.other-events:hover{
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}
.social-icons{
  float: right;
}